//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.logo {
		margin-bottom: 5.6rem;
	}
	// anywhere section
	.anywhere {
		padding: 0;
		margin-bottom: 16.4rem;
		&-image {
			width: 100%;
			&-container {
				max-width: 81.2rem;
				margin: 0 auto;
				margin-top: 11rem;
			}
		}
	}

	// text section
	.text {
		&-section {
			&-title {
				font-size: 3.6rem;
				letter-spacing: -0.59px;
				margin-top: 0;
				margin-bottom: 1.9rem;
			}
			&-paragraph {
				font-size: 1.8rem;
				letter-spacing: 0.14px;
				line-height: 1.667;
			}
		}
		&-body {
			&-paragraph {
				line-height: 1.875;
			}
			&-title {
				&--track {
					margin-bottom: 0.8rem;
				}
			}
		}
	}

	//track section
	.track {
		margin-top: 15rem;
		margin-bottom: 15rem;
		padding: 0 2rem;
		&-features {
			//margin-top: 6.5rem;
			margin-top: 8rem;
			&-group {
				&:not(:last-child) {
					margin-bottom: 5.6rem;
				}
			}
		}
	}

	// workflow section
	.workflow {
		margin-bottom: 15rem;
	}
}

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// text section
	.text {
		&-hero {
			font-size: 4.6rem;
			letter-spacing: -0.75px;
			line-height: 1.261;
			&-paragraph {
				font-size: 2rem;
				letter-spacing: 0.15px;
				line-height: 1.5;
			}
		}
	}

	// buttons
	.button {
		width: 22.7rem;
		&:first-child {
			margin: 0;
		}
	}

	.download-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 47rem;
		margin: 4.8rem auto;
	}

	// hero section
	.hero {
		padding-top: 13.1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		background-image: url(/images/bg-header-desktop.png);
	}
	.text {
		&-hero {
			&-paragraph {
				max-width: 730px;
				margin: 0 auto;
			}
		}
	}
}

//Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	//track section
	.track {
		padding: 0;
		&-features {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: -3.2rem;
			&-groups {
				text-align: left;
				margin-left: 11rem;
				max-width: 35rem;
			}
			&-container {
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: 1000px) and (max-width: 1200px) {
	//track section
	.track {
		&-features {
			&-group {
				padding-right: 2rem;
			}
		}
	}
}

@media (max-width: 1199px) {
	//companies section
	.company {
		&:not(:last-child) {
			margin-bottom: 6.6rem;
		}
	}
	//workflow section
	.workflow {
		margin-bottom: 13rem;
		&-items {
			margin-top: 9rem;
		}
		&-item {
			&:not(:last-child) {
				margin-bottom: 5.6rem;
			}
		}
	}
	//cal-to-action section
	.cta {
		margin-bottom: 17rem;
	}
	//footer
	footer {
		flex-direction: column;
		padding-top: 5.2rem;
	}
	.footer {
		&-logo {
			margin-bottom: 4.8rem;
		}
		&-nav {
			margin-bottom: 4.8rem;
			&__item {
				display: block;
				text-align: center;
				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
	}
	.socials {
		margin-bottom: 5.1rem;
	}
	.social {
		&:not(:last-child) {
			margin-right: 4rem;
		}
	}
}
//Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// workflow section
	.workflow {
		&-items {
			display: flex;
			flex-direction: row;
			max-width: 111rem;
			margin: 0 auto;
			margin-top: 7.2rem;
		}
		&-item {
			max-width: 35rem;
			&:not(:last-child) {
				margin-right: 3rem;
			}
			&__icon {
				margin-bottom: 4rem;
			}
		}
	}

	// companies section
	.company {
		margin-bottom: 0;
	}
	.companies {
		flex-direction: row;
		justify-content: space-between;
		max-width: 111rem;
		margin: 0 auto;
		margin-bottom: 15rem;
	}

	// call-to-action section
	.cta {
		margin-bottom: 15rem;
	}

	// footer
	footer {
		padding: 3.9rem;
		flex-direction: row;
	}
	.footer {
		&-logo {
			margin: 0;
		}
		&-nav {
			margin-left: 13.5rem;
			display: grid;
			gap: 1.2rem 3rem;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-auto-flow: column;
			margin-bottom: 0;
			&__item {
				text-align: left;
			}
		}
	}
	.social {
		&:not(:last-child) {
			margin-right: 2.4rem;
		}
	}
	.socials {
		margin-left: 31.5rem;
		margin-bottom: 0;
	}
}

@media (min-width: 1600px) {
	//track section
	.track {
		&-features {
			margin-left: 0;
			max-width: 124.4rem;
			margin: 0 auto;
			margin-top: 8rem;
		}
		&-image {
			width: 100%;
		}
	}
}
